<div class="content">
    <div class="asso-public-util">
        <p class="asso">ALCOOL ECOUTE F.N.J.S. </p>
        <p class="public-util">Reconnue d’Utilité Publique</p>
    </div>
    <div class="desc">
        <p class=>Groupement d’Associations d’Aide aux Personnes en Difficulté avec l’Alcool </p>
        <p class=>Mouvement de Jeunesse et d’Education Populaire </p>
    </div>
    <p>Agrément National Ministère de la Santé </p>
    <p class="address">SIEGE SOCIAL – 3 Impasse des Alouettes – 86190 AYRON</p>

    <div class="partners">
        <img src="/src/img/logos/logo_assurance_maladie.png" alt="assurance maladie">
        <img src="/src/img/logos/logo_Mildt.jpg" alt="mildt">
        <img src="/src/img/logos/logo-Ministère_des_Solidarités_et_de_la_Santé.png" alt="ministère des solidarités et de la santé">
        <img src="/src/img/logos/logo-msa.png" alt="msa">
        <img src="/src/img/logos/logo_Ministère-de-la-jeunesse-et-des-sports.png" alt="ministère de la jeunesse et des sports">
    </div>
</div>