<i class="fa-solid fa-bars"></i>
<a href="accueil.html"><img alt="" class="logo" src="/src/img/logos/logo_alcool_ecoute.png"></a>
<div class="navbar">
    <ul>
        <li><a href="#">Fédération</a></li>
        <li><a href="associations.html">Associations</a></li>
        <li><a href="prevention.html">Prévention</a></li>
        <li><a href="#">Accompagnement</a></li>
        <li><a href="actualites.html">Actualités</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<i class="fa-solid fa-magnifying-glass"></i>