* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
}

.tabs {
    position: sticky;
    top: 93px;
    z-index: 999;
    background-color: #80bfff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs .tab {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85rem;
    padding: 8px 30px;
}

.tabs .tab.active {
    background-color: transparent;
    border-bottom: 3px solid white;
}

.tabs .tab:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.headline {
    text-align: center;
    padding: 70px 0;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.headline h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    border-bottom: 3px solid #333;
    display: inline-block;
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px 0;
    background-color: #e6f2ff;
}

.cardsprincipal, .cardssecondaire {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cards {
    display: flex;
    gap: 70px;
    transition: all 0.3s ease;
}

.card {
    background-color: white;
    width: 300px;
    height: 400px; /* Hauteur fixe pour uniformiser */
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Positionner le contenu vers le haut */
    gap: 10px;
}

.card img {
    max-width: 100%;
    height: 200px; /* Plus d'espace pour l'image */
    border-radius: 5px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    color: #007BFF;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Permettre le retour à la ligne */
    display: block;
    line-height: 1.5; /* Ajuster l'espacement entre les lignes */
}

.prev-btn, .next-btn {
    font-size: 4.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #555;
}

.prev-btn:hover, .next-btn:hover {
    color: #333;
}

.cardssecondaire .card {
    width: 220px; /* Cards secondaires plus petites */
    height: 320px; /* Réduction de la hauteur */
    padding: 14px;
}

.cardssecondaire .card img {
    height: 160px; /* Plus d'espace pour l'image dans les cards secondaires */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center; /* Centrer le contenu */
}

.modal-content h2 {
    color: #007BFF; /* Couleur bleue pour le titre */
    font-size: 1.8rem; /* Taille du titre */
    font-weight: bold;
    margin-bottom: 20px; /* Espace entre le titre et le texte */
    text-align: center; /* Centrer le titre */
}

.modal-content p {
    margin-top: 20px;
    color: #333;
    font-size: 1rem;
    line-height: 1.6; /* Espacement entre les lignes du texte */
    text-align: justify; /* Justifier le texte */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}


.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.events-section {
    padding: 50px 0;
    background-color: #FBF8F0;
}

.events-title {
    text-align: center;
    padding: 90px 0;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.events-title h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    display: inline-block;
    border-bottom: 3px solid #333;
    padding-bottom: 10px;
}

.events {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.event {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event .year {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #F2F2F2;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    width: 110px;
    text-align: center;
}

.event p {
    margin: 0;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}
