/*GLOBAL*/

body{
    margin: auto;
}

button{
    padding: 18px;
    border: none;
}

/**************************/

/* HEADER */

/**************************/

/*SLOGAN DIV*/

.slogan{
    display: flex;
    height: 30em;
}

.left{
    font-family: Lato, serif;
    width: 54%;
    height: 100%;
    background-color: #F5F5F5;
}

.left .content{
    margin-left: 2em;
}

.left .title{
    font-size: 3.2em;
    color: #333333;
}

.left p {
    font-size: 1.5em;
    font-weight: 300;
}

.left button{
    font-family: "Lato", sans-serif;
    background-color: #064789;
    color: white;
}

.right{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("/SAE-S3-Refonte-site/src/img/pexels-ingo-609771.jpg");
    height: 100%;
    width: 46%;
}

/**************************/

/*PRESENTATION DIV*/

.presentation{
    margin-top: 10em;
    width: 77%;
}

.presentation  .title{
    color: #3A5A40;
    font-size: 3em;
    font-family: "Lato", sans-serif;
    position: relative;
    bottom: 0.1em;
}

.who-are-we{
    background-color: #EBF2FA;
    margin-bottom: 10%;
}

.who-are-we .content{
    position: relative;
    margin-left: 4%;
    bottom: 1.8em;
}

.presentation p{
    font-size: 1.2em;
    font-family: "Ledger", serif;
}

.presentation a{
    font-family: "Ledger", serif;
    font-size: 1.2em;
    color: #064789;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

.what-we-do{
    background-color: #EBF2FA;
    margin-left: 30%;
    width: 99.8%;
}

.what-we-do .content{
    position: relative;
    bottom: 1.8em;
    margin-left: 5%;
}

.what-we-do .title{
    margin-left: 28%;
}

/**************************/

/*NOS-ASSOS DIV*/

.nos-associations{
    font-family: "Lato", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7em auto auto auto;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("/SAE-S3-Refonte-site/src/img/pexels-vividcafe.jpg");
}

.nos-associations .title{
    font-size: 3.2em;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.nos-associations p{
    font-family: "Ledger", serif;
    text-align: center;
    font-size: 1.2em;
}

.discover{
    background-color: #064789;
    color: white;
    font-size: 1em;
    width: 130px;
}

.nos-associations .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

/**************************/

/*ACTUALITES DIV*/

.actualites{
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.actualites h2{
    font-size: 3em;
    border-bottom: 3px solid black;
}

.actualites .content{
    display: flex;
    margin-top: 0.5em;
    width: 95%;
    height: 25em;
    justify-content: space-between;
}

.actu{
    width: 28%;
    background-color: #F2F2F2;
}

.actu .img{
    display: flex;
    width: 100%;
    height: 45%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.actu .title{
    font-family: "League Spartan", "sans-serif";
    text-transform: uppercase;
    font-size: 0.87em;
    font-weight: bold;
}

.actu .text{
    font-weight: 300;
    font-size: 0.85em;
}

.actu .description{
    margin-left: 1em;
    margin-top: 2.5em;
}

#actu-1 .img{
    background-image: url("/SAE-S3-Refonte-site/src/img/pexels-fauxels-3184418.jpg");
}

#actu-2 .img{
    background-image: url("/SAE-S3-Refonte-site/src/img/pexels-didsss-2675061.jpg");
}

#actu-3 .img{
    background-image: url("/SAE-S3-Refonte-site/src/img/pexels-benni-fish-40038242-12418421.jpg");
}

.more-news{
    font-family: "Lato", sans-serif;
    margin-top: 2em;
    background-color: white;
    font-weight: bold;
    border: 2px solid black;
}

/**************************/

/*FOOTER*/

/**************************/


