*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    min-width: 720px;
}

/*----------- Titre -----------*/

.titre_container {
    text-align: center;
    margin: 20px auto;
}

.titre {
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    margin: 0;
}

.titre::after {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background-color: #333333;
    margin: 10px auto 0;
}

/*----------------------- Contenu -----------------------*/
.contenu{
    padding: 20px;
}

/*----------- Recherche Filtre -----------*/

.recherche-filtre {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

/* Recherche */

#conteneur-recherche {
    display: flex;
    align-items: center;
    background-color: #E8E8E8;
    border: 1px solid #B1B1B1;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.3s ease;
    width: 70%;
}

#conteneur-recherche i {
    color: #a5a5a5;
    margin-right: 10px;
}

#conteneur-recherche #recherche {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 1em;
    color: #000;
}

#conteneur-recherche #recherche::placeholder {
    color: #B1B1B1;
}

/* Filtre */

#boutonFiltre button {
    padding: 11px 20px;
    background-color: #E8E8E8;
    color: #B1B1B1;
    border: 1px solid #B1B1B1;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    z-index: 1;
}

#boutonFiltre button:hover {
    background-color: #4A8329;
    color: white;
}


#boutonFiltre button i {
    font-size: 0.8em;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

#boutonFiltre #recherche:focus + i {
    color: #4A8329;
}

/* Conteneur des options de filtre */

#filtre {
    display: none;
    position: absolute;
    top: 100%; /* Juste en bas du bouton */
    right: 0;
    width: 300px;
    max-height: 300px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    overflow-y: auto;
}

#filtre h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}
#filtre hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

#filtre label {
    display: block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    color: #333;
}


/*----------- Liste association -----------*/

.assoc {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    background-color: #FBF8F0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

}

.assoc::after {
    flex: auto;
}

.assoc p {
    margin: auto;
}

.assoCarte {
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    overflow: hidden;
    word-wrap: break-word;
}

.assoCarte h3 {
    color: #4A8329;
    margin-bottom: 5px;
    text-align: center;
}

.iconeTexte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}

.assoCarte p{
    font-size: 1em;
    justify-content: space-between;
}

.assoCarte .adressse:hover span , .assoCarte .adressse:hover i, .copier:hover {
    color: #0242af;
    cursor : pointer;
}

.assoCarte i {
    margin: 0 0 0 15px;
}

/*----------- Map -----------*/

dialog {
    width: 80%;
    align-items:center;
    background: white;

    position :fixed ;
    left :10%;
    top:10%;
    padding: 1% 3%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

dialog h2 {
    color: #4A8329;
    text-align: center;
    font-size: 1.5em;
    align-items: center;
    padding:10px 20px;
    border-bottom: 2px solid #e3e3e3;
}

#closeButton {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 1.5em;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    border-radius:50%;
    transition: background 0.3s;

}

#closeButton:hover {
    background: #e3e3e3;
}


#imgMap{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    padding :10px 0 ;
}

.dialogFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.dialogFooter p{
    font-size: 0.8em;
    color: #666;
    }

.dialogFooter button{
    border-radius: 10px;
    border: 2px solid gray;
    background-color: #4A8329;
    padding: 5px 10px;
    font-size: 0.9em;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}
.dialogFooter button:hover {
    background-color: #3a6824;
}


.no-scroll {
    overflow: hidden;
}
